h1{
    font-family: "Poppins:ital", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
}
p{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
}