#image{
    height: 350px;
    width: 350px;
}
@media (min-width:663px) and  (max-width: 1232px) {
    #imgDiv img{
        width:300px ;
        height:300px;
       
    
    }

}
@media (min-width:300px) and  (max-width: 662px) {
    #imgDiv img{
        width:250px ;
        height:250px;
       
    
    }

}