@media (min-width: 768px) and (max-width: 1370px)  {
    #cardDiv {
        width: 30%;
    
    }
}


@media (max-width: 1232px) {
    #cardDiv {
        width: 47%;
        
    
    }

}
@media (max-width: 855px) {
    #cardDiv {
        width: 48%;
        
    
    }

}