@media (min-width: 1233px) and (max-width: 1370px)  {
    #cardDiv {
        width: 30%;
    
    }
}
@media (min-width:300px) and (max-width:854px) {
    #cardDiv {
        width:100%;    
    
    }

}

@media (min-width:854px) and  (max-width: 1232px) {
    #cardDiv {
        width: 47%;
        
    
    }

}
/* @media (max-width: 855px) {
    #cardDiv {
        width: 48%;
        
    
    }

} */
